input {
  width: 50%;
  height: 40px;
  padding: 20px;
  margin-left: 30px;
  border: 1px solid;
  box-sizing: border-box;
  resize: vertical;
}

a {
  text-decoration: none;
}

.logo {
  padding: 50px 20px 20px 20px;
  text-align: center;
}

nav a {
  padding: 20px 15px 10px 15px;
}

.picture {
  margin-left: 20%;
}

#glass {
  width: 40px;
  height: 40px;
  float: left;
  margin-left: 70px;
}

#microphone {
  width: 40px;
  height: 40px;
  float: right;
}

#buttonSub {
  padding: 10px 20px 20px 20px;
  margin-left: 40px;
}

#box2 {
  float:right;
}
