input {
  width: 75%;
  height: 40px;
  padding: 20px;
  margin-left: 30px;
  border: 1px solid;
  border-radius: 30px; /*this changes the border to round */
  font-size: 16px;
  box-sizing: border-box;
  resize: vertical;
}

a {
  text-decoration: none;
}

.logo {
  padding: 50px 20px 20px 20px;
  text-align: center;
}

nav a {
  padding: 20px 15px 10px 15px;
}

.picture {
  margin-left: 20%;
}

.icons {
  float: left;
}

#buttonSub {
  position: absolute;
  padding: 10px 20px 20px 10px;
  margin-left: 35%;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

#buttonSub:hover {
  border: 1px solid rgb(94, 92, 92);
}

#box2 {
  float: right;
}
