input {
  width: 60%;
  height: 40px;
  padding: 20px;
  margin-left: 30px;
  border: 1px solid;
  border-radius: 30px; /*this makes border rounded*/
  font-size: 16px;
  box-sizing: border-box;
  resize: vertical;
}

a {
  text-decoration: none;
}

.logo {
  padding: 170px 20px 20px 20px;
  text-align: center;
}

nav a {
  padding: 20px 15px 10px 15px;
}

.picture {
  margin-left: 20%;
}

.icons {
  float: left;
}

.button-container {
  display: block;
  text-align:center;
  gap: 10px; /*Adds space between buttons*/
  padding:10px;
}

button:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3) 
}

button {
  padding: 10px 10px;
  border: 1px solid rgb(241, 232, 232);
  border-radius: 10px; /*this makes border rounded*/
  cursor: pointer;
}
#box2 {
  float: right;
}

footer {
  background-color: #f8f9fa;
  padding: 5px 0;
  margin-top: 15%;
}

/*this is list in footer*/
ul{
  list-style-type: none;
  display:flex;
  justify-content: flex-end;
  gap:20px;
}

p{
  font: #f8f9fa;
  display:flex;
  justify-content: flex-start;
}

